.primary {
    color: #2f98bb;
}

.secondary {
    color: #f8991d;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background: #444444;
    color: rgba(255, 255, 255, 0.87);
    font-family: Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: #222222;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    height: 64px;
    width: 100%;
}

@media(max-width: 600px) {
    header {
    height: 54px;
    }
}

nav {
    padding-right: 1em;
    text-align: right;
    width: 100%;
}

@media(max-width: 600px) {
    nav {
    text-align: center;
    }
}

a {
    color: rgba(255, 255, 255, 0.87);
    text-decoration: none;
}

a:visited {
    color: rgba(255, 255, 255, 0.87);
}

a:active, a.active {
    color: #2f98bb;
}

a:focus {
    text-decoration: none;
}

a:hover {
    color: #f8991d;
    text-decoration: none;
}

nav>a {
    margin-left: 1em;
    margin-right: 1em;
    line-height: 64px;
}

@media(max-width: 600px) {
    nav>a {
    line-height: 54px;
    }
}

section#mainContent {
    margin: auto;
    text-align: center;
    width: 80%;
}

section#mainContent>img {
    height: auto;
    margin: 20% auto;
    max-width: 1000px;
    width: 100%;
}

.social-icons>a {
    margin: 1em;
}

a.twitter-link:hover {
    color: #1da1f2
}

a.github-link:hover {
    color: #6e5494
}

a.linkedin-link:hover {
    color: #0077b5
}

a.rss-link:hover {
    color: #FF6600
}

footer {
    bottom: 0;
    margin: 30px 0;
    position: absolute;
    text-align: center;
    width: 100%;
}

.copyright {
    color: rgba(255, 255, 255, 0.54);
    font-size: 0.8em;
}